 header {
    height: 400px;
    background-color: rgb(0, 174, 255);
    background-image: url("../img/pattern.png");
    background-size: 30px;
 }

 body {
   margin: 0;
  }
 
  #autore1 {
     color: rgb(160, 157, 157);
 }

 #aut2 {
    color: rgb(0, 204, 255);
 }

 #data{
    color-scheme:rgb(160, 157, 157);
 }
 .container {
    width: 70%;
    margin: 50px auto;
 }